::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }

  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#chat {
    background: #333333;
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    height: 100vh;
    border-left: 4px solid #000;
    
}
#messages{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 50px;
    display: block;
    padding: 0px;
}
#messages li{
    background: #222;
    color: #fff;
    list-style-type: none;
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'VT323', cursive !important;
}
#typehold{
    background: #d62267;
    height: 50px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#typehold input[type="text"]{
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: calc( 100% - 70px);
    position: relative;
    display: block;
    left: 10px;
    height: 35px;
    font-size: 30px;
    outline: none;
    top: 5px;
    font-family: 'VT323', cursive !important;
}

#gameBox {
    position: fixed;
    background: #589705;
    width: calc(100% - 400px);
    height: 100vh;
    
}

.character {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 256px;
    width: 128px;
}

.character p {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    padding: 2px 10px;
    background: #e6c11d;
    color: #fff;
    text-align: center;
    font-family: 'VT323', cursive !important;
    opacity: 0;
}

.character:hover p {
    opacity: 1;
}