::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }

#chat {
    background: #333333;
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    height: 100vh;
}
#messages{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 50px;
    display: block;
    padding: 0px;
}
#messages li{
    background: #222;
    color: #fff;
    list-style-type: none;
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
#typehold{
    background: #d62267;
    height: 50px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#typehold input[type="text"]{
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: calc( 100% - 70px);
    position: relative;
    display: block;
    left: 10px;
    height: 35px;
    font-family: 'Roboto';
    font-size: 30px;
    outline: none;
    top: 5px;
}