::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }

  @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#chat {
    background: #333333;
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    height: 100vh;
    border-left: 4px solid #000;
    
}
#messages{
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 50px;
    display: block;
    padding: 0px;
}
#messages li{
    background: #222;
    color: #fff;
    list-style-type: none;
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'VT323', monospace !important;
}
#typehold{
    background: #d62267;
    height: 50px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#typehold input[type="text"]{
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: calc( 100% - 70px);
    position: relative;
    display: block;
    left: 10px;
    height: 35px;
    font-size: 30px;
    outline: none;
    top: 5px;
    font-family: 'VT323', monospace !important;
}

#gameBox {
    position: fixed;
    background: #589705;
    width: calc(100% - 400px);
    height: 100vh;
    
}

.character {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 256px;
    width: 128px;
}

.character p {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    min-width: 100%;
    padding: 2px 10px;
    background: #e6c11d;
    color: #fff;
    text-align: center;
    font-family: 'VT323', monospace !important;
    opacity: 0;
}

.character:hover p {
    opacity: 1;
}


#choosePlayer { 
    font-family: 'VT323', monospace !important;
    position: absolute;
    background: #2a84d8;
    display: block;
    width: 100vw;
    height: 100vh;  
    left:50%;
    transform: translate(-50%,0);
    font-size: 30px;
    line-height: 35px;
    color: #fff;
}

/* #choosePlayer div .character {
    transform: scale(2);
} */

#choosePlayer div .character p{
    opacity: 1;
}

#choosePlayer div:first-child{
    position: absolute;
    display: block;
    left: 50%;
    top: 32px;
    transform: translate(-50%,0);
}

#choosePlayer > div:last-child{
    position: absolute;
    display: block;
    width: 100%;
    bottom: calc( (100vh - 356px) / 2 );
    text-align: center;
    transform: translate(0,50%);
}


#choosePlayer input[type="text"]{
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    position: relative;
    display: inline-block;
    width: 256px;
    left: 10px;
    height: 35px;
    font-size: 30px;
    outline: none;
    font-family: 'VT323', monospace !important;
}

#choosePlayer button {
    color: #fff;
    border: 4px solid #a78d19;
    background: #e6c11d;
    display: inline-block;
    margin: 20px;
    padding: 7px 14px;
    font-size: 30px;
    outline: none;
    font-family: 'VT323', monospace !important;
    cursor: pointer;
}

#choosePlayer button:hover {
    border: 4px solid #a78d19;
    background:  #caab1e;
}
